#menu-list a:visited {
  color: white;
}

.splash {
  width: 100%;
  top: 124px;
  height: 100%;
  text-align: inherit;
}

#menu-list a:hover {
  color: #6FBEF3;
}

.try-it {
  width: 100%;
  height: 100%
}

.try-it td {
  padding: 0;
  width: 50%;
}

#input, #output {
  height: 100%;
}
